# Data
data/original/conll2009/**/*.txt
data/original/conll2012/**/*.txt
data/original/ontonotes/**/*.txt
data/original/united/**/*.conllu

data/preprocessed/conll2009/**/CoNLL2009*.json
data/preprocessed/conll2009/**/vocabulary.json

data/preprocessed_trankit/conll2009/**/CoNLL2009*.json
data/preprocessed_trankit/conll2009/**/vocabulary.json

data/preprocessed_unified/conll2009/**/CoNLL2009*.json

data/united/**/united*.json
data/trankit/conll2009/**/*.txt


# Resources
data/resources/*

# Extras
extras/**/*

# Logs
logs/conll2009/**/*
logs/conll2012/**/*
logs/ontonotes/**/*
logs/united/**/*
lightning_logs/**/*

# Predictions
predictions/**/*.txt
predictions/**/*.conll*

# Misc
.vscode/*
**/.DS_Store

# Python
*.py[cod]
**/__pycache__/

# Trankit cache
cache/*
