gradio==3.3.1
jsonargparse==4.13.3
omegaconf==2.2.2
optuna==3.3.0
pytorch-lightning[extra]==1.7.5
torch==1.12
trankit==1.1.1
transformers==4.20.1
typed-argument-parser==1.8.1
wandb==0.15.8
wasabi==1.1.2